.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.board .cell {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}