.grid-container{
    display: grid;
    margin-top: 1rem;
    row-gap: 5px;
    column-gap: 5px;
}
.grid-container .grid-item{
   height: 30px;
   width: 30px;
   margin: 0;
   border: 1px solid black;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
}
.grid-container .grid-item.flipped{
 background-color: aquamarine;
}