.search-container {
  position: relative;
  min-width: 200px;
}
.search-container .search-input {
  box-sizing: border-box;
  width: 100%;
  padding: 2px 6px;
  background-color: white;
  border-radius: 5px;
}
.search-container .suggestion-list {
  width: 100%;
  position: absolute;
  max-height: 200px;
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  overflow-y: auto;
  margin-top: 5px;
}

.suggestion-list .suggestion-item {
  width: 100%;
  padding: 2px 6px;
  background-color: white;
  /* border: 1px solid black; */
  cursor: pointer;
}
.suggestion-list .suggestion-item:hover {
  background-color: aliceblue;
}
