.comment-container{
    min-width: 200px;
    max-width: 300px;
    border-left: 2px solid black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.comment-container .edit-container{
   margin-bottom: 5px;
   display: flex;
   gap: 5px;
}

.comment-container .reply-container{
    padding: 10px 0 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* justify-content: flex-start;
    align-items: flex-start; */
   
}
.btn-container {
    display: flex;
    gap: 10px;
}

.btn-container .btn{
    height: 25px;
}