.board{
    display: grid;
}

.cell{
    height: 50px;
    width: 50px;
    border:1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin :5px;
    cursor:pointer
}